<section id="projects" class="text-center bg-white py-24">
  <div class="container mx-auto max-w-5xl px-4">
    <h2 class="text-3xl font-header font-bold">A Few of My Favorite Things</h2>
    <div class="my-5 w-24 h-1 bg-brand mx-auto"></div>
    <p class="text-center text-gray-600 mb-8 max-w-[45rem] mx-auto">
      Over the years, I've worked on projects that mean a lot to me, from small
      experiments to bigger milestones. Some projects are all about passion,
      others are happy accidents that turn into something bigger. This is my
      little corner to share what's brought me joy and sparked my creativity.
    </p>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <div class="bg-white text-left shadow-lg">
        <div class="w-full relative mx-auto h-auto overflow-hidden">
          <img
            src="/images/kitcodes.webp"
            alt="Kitcodes"
            loading="lazy"
            class="w-full h-auto relative object-cover transition-all duration-300 hover:scale-110"
          />
        </div>
        <div class="p-4">
          <h3 class="text-xl font-header font-semibold">Null Pointers</h3>
          <p class="text-gray-700 text-sm mt-2">
            I collect football kits, but the internet is absolutely riddled with fakes.
            What do you do as a developer? Build a simple but effective tool that helps with checking
            authenticity of course! 
          </p>
          <a
            href="https://www.kitcod.es"
            target="_blank"
            class="mt-4 text-sm font-medium text-brand-dark hover:underline inline-block"
            >More →</a
          >
        </div>
      </div>

      <div class="bg-white shadow-lg text-left">
        <div class="w-full relative mx-auto h-auto overflow-hidden">
          <img
            src="/images/mvp.webp"
            alt="Microsoft MVP"
            loading="lazy"
            class="w-full h-auto relative object-cover transition-all duration-300 hover:scale-110"
          />
        </div>
        <div class="p-4">
          <h3 class="text-xl font-header font-semibold">7x Microsoft MVP</h3>
          <p class="text-gray-700 text-sm mt-2">
            Being a Microsoft MVP means I've spent years geeking out, sharing
            knowledge, and contributing to the tech community. Apparently, they
            like it enough to keep giving it to me, for which I'm beyond grateful.
          </p>
          <a
            href="https://mvp.microsoft.com/en-US/MVP/profile/4048dac7-67c1-e811-816b-3863bb2e0320"
            target="_blank"
            class="mt-4 text-sm font-medium text-brand-dark hover:underline inline-block"
            >More →</a
          >
        </div>
      </div>

      <div class="bg-white shadow-lg text-left">
        <div class="w-full relative mx-auto h-auto overflow-hidden">
          <img
            src="/images/hulsoween.webp"
            alt="Hulsoween"
            loading="lazy"
            class="w-full h-auto relative object-cover transition-all duration-300 hover:scale-110"
          />
        </div>
        <div class="p-4">
          <h3 class="text-xl font-header font-semibold">Hulsoween</h3>
          <p class="text-gray-700 text-sm mt-2">
            A mobile app made to support the local Halloween experience. People can sign up
            as a candy location beforehand, informing kids and their parents on locations
            where they can go to get their scare on.
          </p>
          <a
            href="https://www.hulsoween.nl/"
            target="_blank"
            class="mt-4 text-sm font-medium text-brand-dark hover:underline inline-block"
            >More →</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
