---

---

<section id="contact" class="text-center py-24 bg-white">
  <div class="container mx-auto max-w-5xl px-4">
    <h2 class="text-3xl tracking-normal font-header font-bold">
      Got a crazy idea? Let's build it together!
    </h2>
    <div class="my-5 w-24 h-1 bg-brand mx-auto"></div>
    <p class="text-center text-custom-gray mb-8 max-w-[45rem] mx-auto">
      Whether it's building the next big thing or fixing up the little details,
      I'm here for the tech-tinkering. If you're up for a project with a mix of
      code, creativity, and a bit of geek, let's talk!
    </p>
    <a
      href="#contact"
      class="bg-brand uppercase tracking-wide text-white font-bold cursor-pointer px-6 py-3 hover:bg-brand-light transition inline-block"
    >
      Let's Do This! →
    </a>
  </div>
</section>
