---
---
<section class="text-center py-12 bg-white">
    <div class="container mx-auto max-w-5xl px-4">
    <h2 class="text-3xl font-bold text-black">
      Got a crazy idea? Let’s build it together!
    </h2>
    <div class="my-4 w-24 h-1 bg-gray-400 mx-auto"></div>
    <p class="text-center text-gray-600 mb-8">        
      Whether it’s building the next big thing or fixing up the little details, I’m here for the tech-tinkering! If you’re up for a project with a mix of code, creativity, and a bit of geeky flair, let’s talk!
    </p>
    <a href="#contact" class="bg-gray-300 font-medium px-6 py-3 rounded-lg shadow hover:bg-gray-400 transition inline-block">
      Let’s Do This! →
    </a>
</div>
  </section>
  